.idea/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Flutter/ephemeral/
ios/Pods/
ios/.symlinks/
local.properties
*.iml
*.jks
*.keystore
